# **Part 1: Integenerational Mobility Prediction: Data Cleaning**
* Date: 6/3/2023
* Group #: 6
* Names:
* Project: Empirical Project 3

## Importing Libraries

In [296]:
# Data Science Libraries
import numpy as np
import pandas as pd

# Machine Learning Libraries
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

## Q1 & Q2 are downloading, written information about it will be in the pdf file...

## 3. Reading in DataCommons dataset with pandas & Cleaning Dataset

In [297]:
df = pd.read_csv('United States of America_County.csv')

#### A. Separate out the geoid from the placedcid column

In [298]:
df['placeDcid'] = df['placeDcid'].str.replace('geoId/', '')

# Check
df.head(3)

,placeDcid,placeName,Date:Count_Person_Civilian_SingleMotherFamilyHousehold_NonInstitutionalized,Value:Count_Person_Civilian_SingleMotherFamilyHousehold_NonInstitutionalized,Source:Count_Person_Civilian_SingleMotherFamilyHousehold_NonInstitutionalized,Date:Count_Person_25OrMoreYears_EducationalAttainmentHighSchoolGraduateGedOrAlternative_NoHealthInsurance,Value:Count_Person_25OrMoreYears_EducationalAttainmentHighSchoolGraduateGedOrAlternative_NoHealthInsurance,Source:Count_Person_25OrMoreYears_EducationalAttainmentHighSchoolGraduateGedOrAlternative_NoHealthInsurance,Date:Percent_Person_Obesity,Value:Percent_Person_Obesity,Source:Percent_Person_Obesity,Date:Amount_EconomicActivity_GrossDomesticProduction_RealValue,Value:Amount_EconomicActivity_GrossDomesticProduction_RealValue,Source:Amount_EconomicActivity_GrossDomesticProduction_RealValue,Date:Count_HousingUnit,Value:Count_HousingUnit,Source:Count_HousingUnit
0,01001,Autauga County,2020.0,9465.0,https://data.census.gov/cedsci/table?q=S2701&t...,2014.0,2039.0,https://data.census.gov/cedsci/table?q=S2701&t...,2018.0,35.5,https://www.cdc.gov/places/index.html,2018.0,1.483414e+09,https://www.bea.gov/,2020.0,23697.0,https://www.census.gov/programs-surveys/acs/da...
1,17159,Richland County,2020.0,2052.0,https://data.census.gov/cedsci/table?q=S2701&t...,2014.0,398.0,https://data.census.gov/cedsci/table?q=S2701&t...,2018.0,34.3,https://www.cdc.gov/places/index.html,2018.0,9.622100e+08,https://www.bea.gov/,2020.0,7525.0,https://www.census.gov/programs-surveys/acs/da...
2,27035,Crow Wing County,2020.0,7021.0,https://data.census.gov/cedsci/table?q=S2701&t...,2014.0,1242.0,https://data.census.gov/cedsci/table?q=S2701&t...,2018.0,30.3,https://www.cdc.gov/places/index.html,2018.0,2.495344e+09,https://www.bea.gov/,2020.0,42326.0,https://www.census.gov/programs-surveys/acs/da...

#### B. Rename the column with the geoid data to geoid and change the datatype to int.

In [299]:
df['geoid'] = df['placeDcid']
df['place'] = df['placeName']
df.drop('placeDcid', axis=1, inplace=True)
df.drop('placeName', axis=1, inplace=True)

# Check and change datatype
df['geoid'] = df['geoid'].astype(int)

#### C. Remove the source* and date* columns from the dataset.

In [300]:
columns_to_drop = df.columns[df.columns.str.contains('Source:|Date:')]
df.drop(columns_to_drop, axis=1, inplace=True)

# Check
df.head(3)

,Value:Count_Person_Civilian_SingleMotherFamilyHousehold_NonInstitutionalized,Value:Count_Person_25OrMoreYears_EducationalAttainmentHighSchoolGraduateGedOrAlternative_NoHealthInsurance,Value:Percent_Person_Obesity,Value:Amount_EconomicActivity_GrossDomesticProduction_RealValue,Value:Count_HousingUnit,geoid,place
0,9465.0,2039.0,35.5,1.483414e+09,23697.0,1001,Autauga County
1,2052.0,398.0,34.3,9.622100e+08,7525.0,17159,Richland County
2,7021.0,1242.0,30.3,2.495344e+09,42326.0,27035,Crow Wing County

#### D. Remove the value in front of your 5 predictors.

In [301]:
df.columns = df.columns.str.replace('Value:', '')

#### E. . Drop variables with no observations.

In [302]:
print(df.shape)
b4 = df.shape[0]

df.dropna(inplace=True)
print(df.shape)
after = df.shape[0]

print("Dropped:", b4-after, "Columns")

(3222, 7)
(3087, 7)
Dropped: 135 Columns

#### F. Reorder the variable using the code provided in the template.

In [303]:
df.columns

new_column_order = ['geoid', 
                    'place', 
                    'Count_Person_Civilian_SingleMotherFamilyHousehold_NonInstitutionalized',
                    'Count_Person_25OrMoreYears_EducationalAttainmentHighSchoolGraduateGedOrAlternative_NoHealthInsurance',
                    'Percent_Person_Obesity',
                    'Amount_EconomicActivity_GrossDomesticProduction_RealValue']

## 4. Merging dataset with .dta atlas_training data file.

In [304]:
atlas_df = pd.read_stata('atlas_training.dta')
atlas_df.head(5)

,geoid,place,pop,housing,kfr_pooled_p25,test,training,P_1,P_2,P_3,...,P_112,P_113,P_114,P_115,P_116,P_117,P_118,P_119,P_120,P_121
0,1003.0,Baldwin County,187114,104061,0.388847,0.0,1.0,82.847946,98.593452,101.776711,...,0.0,19.100000,0.00,2.01,0.00,3.52,0.0,0.00,0.0,0.0
1,1005.0,Barbour County,27321,11829,0.349386,0.0,1.0,76.313896,93.878723,90.702942,...,0.0,45.160000,0.00,4.84,0.00,1.61,0.0,3.23,0.0,0.0
2,1007.0,Bibb County,22754,8981,0.363391,0.0,1.0,73.765617,104.868469,82.129547,...,0.0,30.910000,0.00,7.27,0.00,1.82,0.0,0.00,0.0,0.0
3,1013.0,Butler County,20624,9964,0.357249,0.0,1.0,92.096672,121.073296,117.823196,...,0.0,41.070000,0.00,5.36,0.00,1.79,0.0,0.00,0.0,0.0
4,1015.0,Calhoun County,117714,53289,0.361847,0.0,1.0,76.938210,95.478249,98.326622,...,0.0,18.790001,0.61,3.03,0.61,2.42,0.0,0.00,0.0,0.0

In [305]:
# Merge Column based off of geoid column
df = pd.merge(df, atlas_df, on='geoid', how='outer')

## 5. counts --> rates

*Side, changing variable names for better readability of code.*

In [306]:
# Changing some variable names so they are easier to read
df['single-mom-persons'] = df['Count_Person_Civilian_SingleMotherFamilyHousehold_NonInstitutionalized']
df['HS-Grad-persons'] = df['Count_Person_25OrMoreYears_EducationalAttainmentHighSchoolGraduateGedOrAlternative_NoHealthInsurance']
df['Total-GDP'] = df['Amount_EconomicActivity_GrossDomesticProduction_RealValue']
df.drop(['Count_Person_Civilian_SingleMotherFamilyHousehold_NonInstitutionalized',
         'Count_Person_25OrMoreYears_EducationalAttainmentHighSchoolGraduateGedOrAlternative_NoHealthInsurance',
         'Amount_EconomicActivity_GrossDomesticProduction_RealValue'],
         axis=1,
         inplace=True)

Converting Counts to rates for each varaible

In [307]:
df.dropna(inplace=True)

In [308]:
df['single-mom-perc'] = df['single-mom-persons'] / df['pop']
df['HS-Grad-perc'] = df['HS-Grad-persons'] / df['pop']
df['GDP-per-capita'] = df['Total-GDP'] / df['pop']
df['Housing-units-per-capita'] = df['Count_HousingUnit']  / df['pop']

In [309]:
df.drop(['single-mom-persons', 
         'HS-Grad-persons', 
         'Count_HousingUnit',
         'Total-GDP'],
         axis=1,
         inplace=True)

## 6. Produce simple summary Statistics for 5 predictors and krf_pooled_p25

In [310]:
df[['single-mom-perc', 'HS-Grad-perc', 'GDP-per-capita', 'Housing-units-per-capita', 'Percent_Person_Obesity', 'kfr_pooled_p25']].describe()

,single-mom-perc,HS-Grad-perc,GDP-per-capita,Housing-units-per-capita,Percent_Person_Obesity,kfr_pooled_p25
count,1199.000000,1199.000000,1199.000000,1199.000000,1199.000000,1199.000000
mean,0.151483,0.038659,44159.283869,0.472486,35.092077,0.416314
std,0.052313,0.014413,46962.472469,0.083343,4.484188,0.048736
min,0.037298,0.006348,7913.706248,0.274010,16.800000,0.292945
25%,0.115620,0.028202,27215.357529,0.432003,32.500000,0.381349
50%,0.142841,0.038056,36525.295871,0.456020,35.400000,0.412624
75%,0.179189,0.047517,50302.828314,0.487540,38.000000,0.443145
max,0.400866,0.104853,919531.905626,1.222418,50.100000,0.614030

#### 7. Run a linear regression of krf_pooled_p25 on the predictors you chose (converted to rates when appropriate) from DataCommons, in addition to the predictors already in the training dataset inspect the results, and comment on what you find.

In [311]:
dependent_cols = ['Percent_Person_Obesity',
 'P_1',
 'P_2',
 'P_3',
 'P_4',
 'P_5',
 'P_6',
 'P_7',
 'P_8',
 'P_9',
 'P_10',
 'P_11',
 'P_12',
 'P_13',
 'P_14',
 'P_15',
 'P_16',
 'P_17',
 'P_18',
 'P_19',
 'P_20',
 'P_21',
 'P_22',
 'P_23',
 'P_24',
 'P_25',
 'P_26',
 'P_27',
 'P_28',
 'P_29',
 'P_30',
 'P_31',
 'P_32',
 'P_33',
 'P_34',
 'P_35',
 'P_36',
 'P_37',
 'P_38',
 'P_39',
 'P_40',
 'P_41',
 'P_42',
 'P_43',
 'P_44',
 'P_45',
 'P_46',
 'P_47',
 'P_48',
 'P_49',
 'P_50',
 'P_51',
 'P_52',
 'P_53',
 'P_54',
 'P_55',
 'P_56',
 'P_57',
 'P_58',
 'P_59',
 'P_60',
 'P_61',
 'P_62',
 'P_63',
 'P_64',
 'P_65',
 'P_66',
 'P_67',
 'P_68',
 'P_69',
 'P_70',
 'P_71',
 'P_72',
 'P_73',
 'P_74',
 'P_75',
 'P_76',
 'P_77',
 'P_78',
 'P_79',
 'P_80',
 'P_81',
 'P_82',
 'P_83',
 'P_84',
 'P_85',
 'P_86',
 'P_87',
 'P_88',
 'P_89',
 'P_90',
 'P_91',
 'P_92',
 'P_93',
 'P_94',
 'P_95',
 'P_96',
 'P_97',
 'P_98',
 'P_99',
 'P_100',
 'P_101',
 'P_102',
 'P_103',
 'P_104',
 'P_105',
 'P_106',
 'P_107',
 'P_108',
 'P_109',
 'P_110',
 'P_111',
 'P_112',
 'P_113',
 'P_114',
 'P_115',
 'P_116',
 'P_117',
 'P_118',
 'P_119',
 'P_120',
 'P_121',
 'single-mom-perc',
 'HS-Grad-perc',
 'GDP-per-capita',
 'Housing-units-per-capita']

In [312]:
X = df[dependent_cols]
y = df.kfr_pooled_p25

# Create and fit the linear regression model
model = LinearRegression()
model.fit(X, y)

# Print the coefficient and intercept
print('Coefficient:', model.coef_)
print('Intercept:', model.intercept_)

Coefficient: [-5.15369376e-04 -2.30254598e-04 -2.12886306e-05  1.09046630e-04
  8.84020735e-05 -1.26551305e-04  3.46800908e-05  1.97184289e-06
 -8.61290248e-05  1.38197187e-04 -6.05370350e-03 -2.33788639e-03
 -7.20283775e-04  8.89260086e-04  7.21779008e-04  7.16934594e-04
  7.22455001e-04  6.80996554e-04  3.58675042e-05  3.37342260e-05
  8.33290020e-05  2.23761552e-04 -2.06853545e-04 -2.26832199e-04
 -1.03671972e-06  2.96606261e-05  1.44852019e-01 -1.33184133e-01
  1.65581012e-02  1.23515302e-06 -2.04265507e-06 -3.23798421e-02
  1.60892795e-01 -6.04931844e-02 -8.47200416e-02 -2.28519795e-01
 -1.83402733e-01  1.63783238e-01  2.96182463e-01  2.37824545e-01
  3.89599406e-01  9.32311629e-05 -5.68975872e-06 -4.48475703e-02
 -2.39263803e-02 -2.20166232e-01  6.71312881e-02  3.64198742e-02
 -9.21667660e-05 -6.40889912e-03  2.16540148e-01  1.57471016e-05
 -1.28586849e-05 -8.79651674e-02 -5.86819457e-06 -1.01564748e-02
 -1.56699940e-02  3.05330087e-03 -4.38483879e-04  3.93688823e-05
 -2.09925217e-06  2.47616272e-05  6.97517708e-08  3.76570768e-03
  4.67420305e-03 -4.83232526e-03 -1.41560298e-05 -6.11396153e-05
  3.64617894e-03 -2.63134963e-04  3.77063405e-07 -3.90638507e-04
  9.68767488e-06  2.46166368e-06 -9.34308598e-04  7.82850754e-04
  8.91624318e-04 -7.59895209e-05  5.15579614e-06  1.04958120e-04
 -6.32096335e-05  5.96217729e-03  8.65073778e-02  8.67025975e-02
  8.51171817e-02  8.78047879e-02  9.09815432e-02  8.66548367e-02
  8.44018972e-02  8.08079690e-02  9.53898988e-02  8.67306223e-02
  8.65322213e-02  8.63613079e-02 -7.41874119e-02 -7.41389020e-02
 -7.34903420e-02 -7.41418035e-02 -7.76097766e-02 -7.38681631e-02
 -6.95095947e-02 -7.17450101e-02 -8.27556182e-02 -7.41053610e-02
 -7.44000151e-02 -7.38982390e-02 -7.42241900e-04 -1.12512668e-03
  5.92705655e-04  1.12554165e-04  3.91078863e-03  1.34352194e-04
  5.90683305e-04 -2.77556968e-04 -2.20741214e-04 -1.94325153e-04
 -3.00951448e-03 -3.30312955e-04  1.10190951e-03 -2.35704730e-04
  2.68084068e-04 -6.90588801e-04 -3.44867620e-02  2.06678839e-01
  3.34638961e-08 -2.66710300e-03]
Intercept: -0.9711878189101306

#### 8. How well does your linear regression predict krf_pooled_p25 in-sample? You have to calculate the mean squared error.

In [314]:
y_pred = model.predict(X)

# Compute mean squared error
mse = mean_squared_error(y, y_pred)

print('Mean Squared Error:', mse)

# This mean squared error is solid.

Mean Squared Error: 0.0003005342986882555